body{
  background-image: url(slider.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.satu{
  width: 720px;
  height: 365px;
  overflow:scroll;
  background-color: white;
  background-image: url(avocado.jpg);
  background-repeat: repeat-y;
  background-size: 270px 220px;
  border: 1px solid black;
}

p{
  text-align: right;
  color: blue;
  font-weight: bold;
  font-size: 18px;
}

p.dua{
  color: green;
  text-align: left;
}

p.tiga{
  color: red;
  margin-right: 20px;
}
